<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.SpringPoints.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.SpringPoints.mapper.dtd">
<com.SpringPoints.mapper namespace="com.springMybatisPlus.com.SpringPoints.mapper.TableUtils">

    <select id="showCreateTableSql" resultType="java.util.Map" parameterType="java.lang.String">
        show create table ${tableName}
    </select>

</com.SpringPoints.mapper>
