<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.mapper.UserShardingMapper">

<!--    <insert id="insert" parameterType="com.cm.domain.User" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into user-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="name != null">name,</if>-->
<!--            <if test="createTime != null">create_time,</if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="name != null">#{name},</if>-->
<!--            <if test="createTime != null">#{createTime},</if>-->
<!--        </trim>-->
<!--    </insert>-->
</mapper>
