<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.SpringPoints.mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-com.SpringPoints.mapper.dtd">
<com.SpringPoints.mapper namespace="com.shardingSphere.com.SpringPoints.mapper.BusCarOperationMapper">

    <resultMap type="com.shardingSphere.com.SpringPoints.domain.BusCarOperation" id="BusCarOperationResult">
        <result property="id"    column="id"    />
        <result property="siteX"    column="site_x"    />
        <result property="siteY"    column="site_y"    />
        <result property="recordDate"    column="record_date"    />
    </resultMap>

    <sql id="selectBusCarOperationVo">
        select bco.id, bco.car_num, bco.site_x, bco.site_y, bco.area_num, bco.record_date,
        bco.area_location, bco.card_number,
        ba.area_name,
        bci.car_type
        from bus_car_operation bco
                 left join bus_area ba on ba.area_num = bco.area_num
                 left join bus_car_info bci on bci.car_num = bco.car_num
    </sql>

    <insert id="insertBusCarOperation" parameterType="com.shardingSphere.com.SpringPoints.domain.BusCarOperation">
        insert into bus_car_operation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="siteX != null">site_x,</if>
            <if test="siteY != null">site_y,</if>
            <if test="recordDate != null">record_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="siteX != null">#{siteX},</if>
            <if test="siteY != null">#{siteY},</if>
            <if test="recordDate != null">#{recordDate},</if>
         </trim>
    </insert>


</com.SpringPoints.mapper>
