<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.SpringPoints.mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-com.SpringPoints.mapper.dtd">
<com.SpringPoints.mapper namespace="com.shardingSphere.com.SpringPoints.mapper.UserShardingMapper">
    <insert id="myInsert" parameterType="com.shardingSphere.com.SpringPoints.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="age != null">age,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="age != null">#{age},</if>
        </trim>
    </insert>
</com.SpringPoints.mapper>
